name: Alerta CI CSharp

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Clonar repositorio
      uses: actions/checkout@v4

    - name: Configurar .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restaurar dependencias
      run: dotnet restore ConsoleApp2/ConsoleApp2.csproj

    - name: Compilar proyecto
      run: dotnet build ConsoleApp2/ConsoleApp2.csproj --no-restore

    - name: Ejecutar programa
      run: dotnet run --project ConsoleApp2/ConsoleApp2.csproj

    - name: Enviar notificación a ntfy
      run: |
        curl -d "✅ Push a main: Proyecto C# ejecutado correctamente" https://ntfy.sh/devops-itla
