name: Alerta CI CSharp

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Clonar repositorio
      uses: actions/checkout@v4

    - name: Configurar .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restaurar dependencias
      run: dotnet restore

    - name: Compilar proyecto
      run: dotnet build --no-restore

    - name: Ejecutar programa
      run: dotnet run

    - name: Enviar notificación a ntfy
      run: |
        curl -d "✅ Se hizo push al repositorio main y el proyecto C# se ejecutó correctamente" https://ntfy.sh/devops-itla
